a{text-decoration: none; color: #000;}
#hd{
    h1,
    .iconMenu{
        width: 0;
    }
    h1{
        a{
            white-space: nowrap;
        }
    }
    .gnb{
        &:hover{
            .gnb_li{
                &:hover{
                    .gnb_a{
                        color:red;//활성화
                    }
                }                
                .gnb_ul{  
                    //각각의 소메뉴 사이즈가 다르므로 height로 하면 안됨                    
                    height: 180px;                    
                }   
            }                          
        }
        .gnb_li{            
            padding:0 35px !important;            
            .gnb_a{
                font-size: 1.5rem;
            }
            .gnb_ul{
                min-width: 10rem;
                height: 0;
                overflow: hidden;
                transition: 0.5s;  
                left: -35px;     
                &:after,
                &:before{
                    content: "";
                    display: block;
                    height: 1rem;
                }
                .gnb_li_li{                  
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
}