$marginMenu : 1rem;

#hd{
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    h1{
        a{
            img{

            }
        }
    }
    li{
        margin-left: $marginMenu;
    }
    #gnb{
        display: flex;
        margin-right: auto;
        margin-left: 1rem;
        li{
            a{

            }
        }
    }
    #iconMenu{
        display: flex;
        li{
            i{

            }
            // 접근성 지킨 안보이는 콘텐츠
            span{
                position: absolute;
                width: 0;
                height: 0;
                display: block;
                overflow: hidden;
                opacity: 0;
            }
        }
    }
    #member{
        display: flex;        
        li{
            a{

            }
        }   
    }
}