a {
  color: #333;
  text-decoration: none;
}

.gnb a:hover {
  color: #f00 !important;
}
.gnb li:hover > a {
  color: #f00 !important;
}
.gnb:hover ul {
  height: 180px;
}
.gnb ul {
  top: 100%;
  min-width: 120px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}