.inner{
    max-width: 1440px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.textGray{
    color: #666;
}
.bg-gray{
    background: #ccc;
}
.round50{
    border-radius: 50px;
}
.soundOnly{
    position:absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.mr-auto{
    margin-right: auto;
}